.pieces {
  h1 {
    color: #105cb6;
  }

  table {
    border-collapse: collapse;
  }

  table tr th, table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .text_column {
    text-align: left;
  }

  .number_column {
    text-align: right;
  }

  .table_header {
    color: white;
    background: #105cb6;
  }

  .list_line_even {
    background: lightgray;
  }
  .list_line_odd {
    background: white;
  }

  .input_field {
    border: 1px solid #105cb6;
    background: transparent;
    padding: 0.2em 0.5em;
  }

  .button, .destroy_button {
    color: #105cb6;
    border: 1px solid #105cb6;
    text-decoration: none;
    padding: 0.2em 0.5em;
    background: transparent;
  }
  .button:hover, .button:focus {
    color: #000033;
    border-color: #000033; 
  }
  .destroy_button:hover, .destroy_button:focus {
    color: red;
    border: 1px solid red;
  }

}

@import "digg_pagination.css";
