.pieces {
  h1 {
    color: #105cb6;
  }

  table {
    border-collapse: collapse;
  }

  table tr th {
    padding: 5px;
    vertical-align: top;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .text_column {
    text-align: left;
  }

  .number_column {
    text-align: right;
  }

  .table_header {
    color: white;
    background: #105cb6;
  }

  .list_line_even {
    background: lightgray;
  }
  .list_line_odd {
    background: white;
  }

  .new_piece_link {
    color: #105cb6;
  }

  .action_edit {
    color: #105cb6;
  }

  .action_destroy {
    color: red;
  }

  .back_to_pieces_list_link {
    color: #105cb6;
  }

}

@import "digg_pagination.css";
